@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    width: 100%;
}

body{
    background-color: RGB(32, 33, 36);
    width: 100%;
    color: #fff;

}
 #logo {
    width: 250px;
    padding-left: 635px;
    padding-top: 1.5rem;
   
}

#multi {
    text-align: center;
    font-size: 18px;
    margin-top: 1rem;
    color: RGB(61, 103, 186);
}

header {
    width: 100%;
    height: 200px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 120px;
} 


 div.card-container {
    width: 220px;
    height: 330px;
    background-color: white;
    border-radius: 1rem;
    color: black; 
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
} 

div.header-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}

.item {
    display: flex;
    align-items: left;
} 

main {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

div.card-container:hover {
    transform: scale(1.1);
    background-color: RGB(63, 106, 185);
    color: #fff;
}

div.footer-card {
    background-color: RGB(250, 199, 5);
    border-radius: 10px;
    border: solid 1px RGB(61, 101, 185);
    width: 160px;
    color: #fff;
    text-align: left;
    padding-left: 1rem;
}

div.footer-card:hover {
    background-color: #fff;
    color: RGB(63, 106, 185);
    
}

footer {
    height: 30px;
}

.imgs:hover {
    transform: scale(1.3);
}

a {
    text-decoration: none;
}